{% extends 'base.html' %}
{% block content %}
<div class="site-header-logo">
    <h1 class="text-center">
        Visible satellites
    </h1>
</div>
<div class="row p-4">
    <div class="card ml-auto" style="width: 100%;">
        <div class="card-body">
            <div id="chart1" data-aos="slide-up">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graph1 = {{ graph2JSON | safe}};
    Plotly.plot("chart1", graph1, {})
</script>

{% endblock %}
